{% extends 'base/base.html' %}

{% block title %}
    LMS - Login 
{% endblock %}

{% block content %}
    <div class="row">
        {# 2 empty columns to center our form but also appear full width on mobile #}
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
                <div class="container mt-5">
                    <div class="card mb-3 border-secondary shadow p-3">
                        <div class="row g-0">
                          <div class="col-md-4">
                            {% load static %}
                            <img src="{% static 'Logistics_Management_System.png' %}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body bg-light">
                                <h3 class="card-title fw-semibold">Login</h3>
                                <form method="POST" action="{% url 'workers:custom_login' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                      <label for="usernameInput" class="form-label">Username</label>
                                      <input type="text" class="form-control" id="usernameInput" placeholder="e.g: janeDoe552" name="user_name" required>
                                    </div>
                                    <div class="mb-3">
                                      <label for="passInput" class="form-label">Password</label>
                                      <input type="password" class="form-control" id="passInput" name="pass_word" placeholder="****************" required>
                                    </div>
                                    {# Handling Form Errors #}
                                    {% if err %}
                                    <div class="mb-3 text-danger text-center">
                                      <p>
                                        {{ err }} 
                                      </p>
                                    </div>
                                    {% endif %}
                                    <div class="text-end mb-3">
                                      <a href="{% url 'workers:password_reset' %}" class="text-decoration-none">Forgot Password</a>
                                    </div>
                                    <div class="text-center d-grid g-2">
                                        <button class="btn btn btn-success">Login</button>
                                        <div class="text-secondary mt-5">
                                          <hr>
                                        </div>                                        
                                        <a href="{% url 'workers:register' %}" class="btn btn-sm btn-outline-primary">Register here!</a>
                                    </div>
                    
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>
    
{% endblock %}