{% extends 'base/base.html' %}

{% block title %}LMS - Forgot Password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-1"></div>
    <div class="col-12 col-md-10">
        <h3 class="text-center fw-bold mt-3">
            {% load static %}
            <img src="{% static 'Logistics_Management_System.png' %}" alt="..." width="55" height="60"> Logistics Management System
        </h3>
        <p class="text-center fw-medium text-secondary mb-3">
            Forgot Password?
        </p>
        <div class="row">
            <div class="col-12 col-md-8 m-auto">
                <div class="card">
                    <span class="border-top border-primary border-5"></span>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <div class="row">
                                <div class="col-12 col-md-3 text-end">
                                    <i class="bi bi-lock-fill fs-3"></i>
                                </div>
                                <div class="col-12 col-md-9">
                                    Enter your email address and we'll send you instructions to reset your password.
                                </div>
                            </div>
                        </h6>
                        {# Email form #}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="id_email">Email</label>
                                <input type="email" name="email"  class="form-control"
                                        autocomplete="email" maxlength="254" required id="id_email"
                                        placeholder="Enter email" required>
                                <div class="text-center mt-2">
                                    <button class="btn btn-success">
                                        Change Password
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="card-footer text-secondary">
                        <div class="row">
                            <div class="col-12 col-md-6 text-start">
                                Don't have an account with us?
                            </div> 
                            <div class="col-12 col-md-6 text-end">
                                <a href="{% url 'workers:register' %}" class="btn btn-sm btn-outline-secondary">Register</a>
                            </div> 
                        </div>
                    </div>
                    
                  </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-1"></div>
</div>

{% endblock %}