{% extends 'base/base.html' %}

{% block title %}LMS - Password Reset Complete {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-1"></div>
    <div class="col-12 col-md-10">
        <h3 class="text-center fw-bold mt-3">
            {% load static %}
            <img src="{% static 'Logistics_Management_System.png' %}" alt="..." width="55" height="60"> Logistics Management System
        </h3>
        <p class="text-center fw-medium text-secondary mb-3">
            Reset Password
        </p>
        <div class="row">
            <div class="col-12 col-md-8 m-auto">
                <div class="card">
                    <span class="border-top border-primary border-5"></span>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <div class="row mb-3">
                                <div class="col-12 col-md-3 text-end">
                                    <i class="bi bi-unlock fs-3"></i>
                                </div>
                                <div class="col-12 col-md-9">
                                    We've successfully reset your password!
                                </div>
                            </div>
                            <p class="card-text fw-medium">You may go ahead and login with your new password. </p>
                            <div class="text-center">
                                <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                            </div>
                        </h6>
                        {# Complete Message #}
                        
                    </div>
                    <div class="card-footer text-secondary">
                        <div class="row">
                            <div class="col-12 col-md-6 text-start">
                                Your Password has been reset!
                            </div> 
                            <div class="col-12 col-md-6 text-end">
                                <a href="{% url 'logistics_app:home' %}" class="btn btn-sm btn-outline-secondary">Return Home</a>
                            </div> 
                        </div>
                    </div>
                    
                  </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-1"></div>
</div>
{% endblock %}