{% extends 'base/base.html' %}

{% block title %}
    Update Order
{% endblock %}

{% block content %}
<h1 class="text-center">Update Order</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                
                <h3>Order Details</h3>
                {{ order_form.as_p }}
            
                <h3>Order Items</h3>
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="order-item">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
                
                <button class="btn btn-success form-control" type="submit">Submit Order</button>
            </form>

            <br>
            <a href="{% url 'logistics_app:order_list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
