{% extends 'base/order_create_temp.html' %}
{% load crispy_forms_tags %}

{% block form_content %}
    <form method="post" action="{% url 'logistics_app:order_create' %}">
        {% csrf_token %}
        
        <h3>Order Details</h3>
        {{ order_form | crispy }}

        <!-- <h3>Order Items</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="order-item">
                {{ form.as_p }}

            </div>
        {% endfor %} -->

        <button class="btn btn-success form-control" type="submit">Continue</button>
    </form>
{% endblock %}